<div class="well" onload="">
    {{ include('::flashbag.html.twig') }}
    {{ form(form) }}
    <button class="btn btn-default pull-left btn-xs" onclick="ConfigureTheme.configureGit()">
        {{ 'reconfigure.git'|trans }}
    </button>
    <button class="btn btn-success pull-right" onclick="ConfigureTheme.postDeployToGit(this)">
        <i class="fa fa-rocket"></i>
        {{ 'deploy'|trans }}
    </button>
    <br><br>
</div>