{% for item in asset.assets %}
    {% if asset.original_assets|length == 1 %}
        {% set well = '' %}
    {% else %}
        {% set well = 'well well-sm' %}
    {% endif %}
    <div class="{{ well }} col-sm-12 _tree">
        {% include 'BaboonPanelBundle:Configuration/_widgets:_assets.html.twig' with {'assets': item} %}
    </div>
{% endfor %}