{% for key, item in asset.assets %}
    <div class="well well-sm col-sm-12 _tree" data-path="{{ asset.path~'[assets]['~key~']' }}">
        {% include 'BaboonPanelBundle:Configuration/_widgets:_assets.html.twig' with {'assets': item} %}
        <hr>
        <button class="btn btn-danger btn-xs pull-right" onclick="ConfigureAsset.deleteItem(this, '{{ asset.path }}', '{{ key }}')">
            <i class="fa fa-trash-o"></i>
            {{ 'remove.item'|trans }}
        </button>
    </div>
{% endfor %}