{% for asset in assets %}
    <div class="col-sm-12 _assets" data-path="{{ asset.path }}">
        {{ include('BaboonPanelBundle:Configuration/_widgets:_asset_wrap.html.twig') }}
    </div>
{% endfor %}