{% for asset in assets %}
    <div class="well well-sm col-sm-12" data-path="{{ asset.path }}">
        {{ include('BaboonPanelBundle:Configuration/_widgets:_asset_wrap.html.twig') }}
    </div>
{% endfor %}