<select onchange="ConfigureTheme.loadCategoryThemes(this)" data-action-url="{{ path('bb_category_themes') }}">
    <option></option>
    {% for category in categories %}
        <option data-themes-href="{{ category.themesUrl }}" data-server-id="{{ server.id }}">{{ category.categoryName }}</option>
    {% endfor %}
</select>
